/**
 * @file
 * Basic page node styles
 */
.node--type-page {
  .field--name-body {
    .has-no-sidebars & {
      @include mq(desk) {
        @include span(9);
      }
    } // .has-no-sidebars &
  } // .field--name-body
} // .node-type-page
