/**
 * @file
 * Base site elements
 */

/**
 * General Reset
 * 1. Box-sizing FTW
 * 2. Adjust the html & body elements to account for x-browser
 *    scrollbar implementation.
 */
* {
  &, &:before, &:after {
    box-sizing: border-box; /* 2 */
  }
}

html {
  @include font;
  @include font-size($base-font-size);
  line-height: $line-height-ratio;
  overflow: hidden; /* 2 */
}

html, body {
  height: 100%; /* 2 */
}

body {
  position: relative; /* 2 */
  overflow-y: scroll; /* 2 */
}

h1, h2, h3, h4, h5, h6, p, ol, ul, blockquote {
  margin: 0;
  margin-bottom: su(.5);
  padding: 0;
}

img, audio, video, object {
  max-width: 100%;
}

img {
  vertical-align: middle;
  height: auto;
}

a {
  color: color(primary);
  text-decoration: none;
  transition: 150ms ease color, 150ms ease background-color;

  &:hover {
    color: darken(color(primary), 15%);
    text-decoration: underline;
  }
}

/**
 * Lists
 * 
 * Because lists are used for menus and other abstractions, let's strip
 * them down by default. When they are used in body fields, let's add back
 * their styles.
 */
ul, ol {
  list-style: none;
}

.text-formatted {
  p, ul, ol {
    margin-bottom: su(1);
  }

  ul, ol {
    margin-left: su();
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
} // .text-formatted

/**
 * Forms
 *
 * Base form styles
 */

/* Submits and buttons */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 5px;
  border: 1px solid #ccc;
  line-height: su();
}

input[type="submit"],
button {
  @include caps;
  @include font-size(12px);
  padding: 0 su(.5);
  border: 0;
  cursor: pointer;
  line-height: su();
}
