//
// @file
// Custom Sass functions
//

/// Interact with the spacing unit
///
/// @access public
///
/// @param {int} $mult [1] - Spacing unit multiplier
///
/// @example scss
///   .block {
///     padding-left: su();
///   }
///
///   .block-2 {
///     padding-left: su(2); // multiplies spacing unit by two
///   }
@function spacing-unit($mult: 1) {
  @if unitless($mult) {
    @return $mult * $base-spacing-unit;
  } @else {
    @warn "Error: must pass a unitless value, was #{$mult}";
  }
}

/// Spacing unit shortcut
///
/// @param {int} $mult [1] - Spacing unit multiplier
@function su($mult: 1) {
  @return spacing-unit($mult);
}

/// Output a z index unit
/// 
/// @param {string} $unit [base] - Name of mapped z-index
@function z($unit: base) {
  @if map-has-key($z-index, $unit) {
    @return map-get($z-index, $unit);  
  } @else {
    @warn "There is no z index #{$unit}";
  }
}

/// Interact with the color map
///
/// @access public
///
/// @param {string} $key - Name of the color
///
/// @example scss
///   .block {
///     color: color(grey);
///   }
@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  } @else {
    @warn "Error: There is no color #{$key} associated";
  }
}
