/**
 * @file
 * Custom styles
 */
/**
 * @file
 * Base site elements
 */
/**
 * General Reset
 * 1. Box-sizing FTW
 * 2. Adjust the html & body elements to account for x-browser
 *    scrollbar implementation.
 */
*, *:before, *:after {
  box-sizing: border-box;
  /* 2 */ }

html {
  font-family: "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  overflow: hidden;
  /* 2 */ }

html, body {
  height: 100%;
  /* 2 */ }

body {
  position: relative;
  /* 2 */
  overflow-y: scroll;
  /* 2 */ }

h1, h2, h3, h4, h5, h6, p, ol, ul, blockquote {
  margin: 0;
  margin-bottom: 12px;
  padding: 0; }

img, audio, video, object {
  max-width: 100%; }

img {
  vertical-align: middle;
  height: auto; }

a {
  color: #2196f3;
  text-decoration: none;
  transition: 150ms ease color, 150ms ease background-color; }
  a:hover {
    color: #0a6ebd;
    text-decoration: underline; }

/**
 * Lists
 * 
 * Because lists are used for menus and other abstractions, let's strip
 * them down by default. When they are used in body fields, let's add back
 * their styles.
 */
ul, ol {
  list-style: none; }

.text-formatted p, .text-formatted ul, .text-formatted ol {
  margin-bottom: 24px; }

.text-formatted ul, .text-formatted ol {
  margin-left: 24px; }

.text-formatted ul {
  list-style: disc; }

.text-formatted ol {
  list-style: decimal; }

.text-formatted li {
  margin-bottom: 10px; }
  .text-formatted li:last-child {
    margin-bottom: 0; }

/**
 * Forms
 *
 * Base form styles
 */
/* Submits and buttons */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 5px;
  border: 1px solid #ccc;
  line-height: 24px; }

input[type="submit"],
button {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  padding: 0 12px;
  border: 0;
  cursor: pointer;
  line-height: 24px; }

/**
 * @file
 * Global layout styles
 */
.site-main {
  margin-bottom: 24px; }

.layout-container {
  width: 90%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto; }
  .layout-container:after, .layout-container:before {
    content: " ";
    display: table; }
  .layout-container:after {
    clear: both; }

/**
 * Layout abstraction
 * A simple grid system built from Susy using repeatable classes.
 * Builds out gallery classes for however many columns are needed.
 * The classes are human readable "layout-gallery-NUM-OF-COLS--BP".
 */
.layout-row:after, .layout-row:before {
  content: " ";
  display: table; }

.layout-row:after {
  clear: both; }

.layout-col {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

@media (min-width: 39.375em) {
  .layout-gallery-2--lap > .layout-col {
    width: 49.15254%;
    float: left; }
    .layout-gallery-2--lap > .layout-col:nth-child(2n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .layout-gallery-2--lap > .layout-col:nth-child(2n + 2) {
      margin-left: 50.84746%;
      margin-right: -100%;
      clear: none; } }

@media (min-width: 39.375em) {
  .layout-gallery-3--lap > .layout-col {
    width: 32.20339%;
    float: left; }
    .layout-gallery-3--lap > .layout-col:nth-child(3n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .layout-gallery-3--lap > .layout-col:nth-child(3n + 2) {
      margin-left: 33.89831%;
      margin-right: -100%;
      clear: none; }
    .layout-gallery-3--lap > .layout-col:nth-child(3n + 3) {
      margin-left: 67.79661%;
      margin-right: -100%;
      clear: none; } }

@media (min-width: 39.375em) {
  .layout-gallery-4--lap > .layout-col {
    width: 23.72881%;
    float: left; }
    .layout-gallery-4--lap > .layout-col:nth-child(4n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .layout-gallery-4--lap > .layout-col:nth-child(4n + 2) {
      margin-left: 25.42373%;
      margin-right: -100%;
      clear: none; }
    .layout-gallery-4--lap > .layout-col:nth-child(4n + 3) {
      margin-left: 50.84746%;
      margin-right: -100%;
      clear: none; }
    .layout-gallery-4--lap > .layout-col:nth-child(4n + 4) {
      margin-left: 76.27119%;
      margin-right: -100%;
      clear: none; } }

@media (min-width: 64.375em) {
  .layout-gallery-2--desk > .layout-col {
    width: 49.15254%;
    float: left; }
    .layout-gallery-2--desk > .layout-col:nth-child(2n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .layout-gallery-2--desk > .layout-col:nth-child(2n + 2) {
      margin-left: 50.84746%;
      margin-right: -100%;
      clear: none; } }

@media (min-width: 64.375em) {
  .layout-gallery-3--desk > .layout-col {
    width: 32.20339%;
    float: left; }
    .layout-gallery-3--desk > .layout-col:nth-child(3n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .layout-gallery-3--desk > .layout-col:nth-child(3n + 2) {
      margin-left: 33.89831%;
      margin-right: -100%;
      clear: none; }
    .layout-gallery-3--desk > .layout-col:nth-child(3n + 3) {
      margin-left: 67.79661%;
      margin-right: -100%;
      clear: none; } }

@media (min-width: 64.375em) {
  .layout-gallery-4--desk > .layout-col {
    width: 23.72881%;
    float: left; }
    .layout-gallery-4--desk > .layout-col:nth-child(4n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .layout-gallery-4--desk > .layout-col:nth-child(4n + 2) {
      margin-left: 25.42373%;
      margin-right: -100%;
      clear: none; }
    .layout-gallery-4--desk > .layout-col:nth-child(4n + 3) {
      margin-left: 50.84746%;
      margin-right: -100%;
      clear: none; }
    .layout-gallery-4--desk > .layout-col:nth-child(4n + 4) {
      margin-left: 76.27119%;
      margin-right: -100%;
      clear: none; } }

/**
 * @file
 * Header layout styles
 */
.site-top-bar {
  padding: 10px 0;
  line-height: 1; }
  .site-top-bar .menu {
    margin: 0; }

.site-header {
  margin-bottom: 24px;
  padding: 12px 0;
  background: #424242;
  /**
   * Center logo and menu using flexbox. This horizontally centers
   * the elements in this container. The fallback is the menu hangs at the top, 
   * can add padding to adjust this for unsupported browsers.
   */ }
  .site-header, .site-header a {
    color: #f1f1f1; }
  .site-header .menu {
    margin: 0; }
  .site-header > .layout-container {
    /* If unsupported browsers need specific styles */ }
    @media (min-width: 64.375em) {
      .site-header > .layout-container {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }

.site-logo,
.site-name {
  display: inline-block; }

.site-logo {
  display: block;
  width: 75px;
  line-height: 1; }
  @media (min-width: 64.375em) {
    .site-logo {
      width: 150px; } }

/* Secondary menu */
.region-secondary-menu {
  /* In case unsupported browsers need fixes */ }
  @media (min-width: 39.375em) {
    .region-secondary-menu {
      /* Uses flexbox to align children horizontally */
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: right; }
      .region-secondary-menu:after, .region-secondary-menu:before {
        content: " ";
        display: table; }
      .region-secondary-menu:after {
        clear: both; } }
  .region-secondary-menu a {
    font-size: 12px;
    font-size: 0.75rem;
    letter-spacing: 0.03em;
    text-transform: uppercase; }
  .region-secondary-menu .menu-item {
    display: inline-block;
    margin-right: 12px; }
    .region-secondary-menu .menu-item:last-child {
      margin-right: 0; }
  @media (min-width: 39.375em) {
    .region-secondary-menu .block {
      float: right; } }
  .region-secondary-menu .block-search {
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    margin-left: auto; }
  .region-secondary-menu .block-menu {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 12px; }
    @media (min-width: 39.375em) {
      .region-secondary-menu .block-menu {
        margin-left: 24px;
        margin-bottom: 0; } }

/* Header */
.region-header:after, .region-header:before {
  content: " ";
  display: table; }

.region-header:after {
  clear: both; }

@media (min-width: 64.375em) {
  .region-header {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; } }

@media (max-width: 64.365em) {
  .menu-open .region-header {
    margin-bottom: 12px; } }

@media (max-width: 64.365em) {
  .block-system-branding-block {
    float: left; } }

.menu-toggle {
  padding: 5px;
  float: right;
  border-radius: 3px;
  color: #222; }
  @media (min-width: 64.375em) {
    .menu-toggle {
      display: none; } }
  .menu-toggle svg {
    width: 24px;
    height: 24px;
    vertical-align: top; }

/* Primary menu */
.region-primary-menu {
  display: none; }
  @media (max-width: 64.365em) {
    .region-primary-menu {
      clear: both; } }
  @media (min-width: 64.375em) {
    .region-primary-menu {
      width: 74.57627%;
      float: right;
      margin-right: 0;
      display: block;
      text-align: right; } }
  .menu-open .region-primary-menu {
    display: block; }
  .region-primary-menu a {
    letter-spacing: 0.03em;
    text-transform: uppercase; }
    .region-primary-menu a:hover {
      text-decoration: none; }
    .region-primary-menu a.is-active {
      border-bottom: 2px solid #fff; }
  .region-primary-menu .menu-item {
    margin-right: 24px; }
    .region-primary-menu .menu-item:last-child {
      margin-right: 0; }
    @media (min-width: 64.375em) {
      .region-primary-menu .menu-item {
        display: inline-block; } }

/**
 * @file
 * Content layout styles
 */
@media (min-width: 64.375em) {
  .has-one-sidebar .layout-content {
    width: 74.72527%;
    float: left;
    margin-left: 25.27473%;
    margin-right: -100%; } }

@media (min-width: 64.375em) {
  .has-sidebar-second .layout-content {
    width: 74.72527%;
    float: left;
    margin-left: 0;
    margin-right: -100%; } }

@media (min-width: 64.375em) {
  .has-two-sidebars .layout-content {
    width: 49.45055%;
    float: left;
    margin-left: 25.27473%;
    margin-right: -100%; } }

@media (min-width: 64.375em) {
  .layout-sidebar-first {
    width: 24.17582%;
    float: left;
    margin-left: 0;
    margin-right: -100%; } }

@media (min-width: 64.375em) {
  .layout-sidebar-second {
    width: 24.17582%;
    float: left;
    margin-left: 75.82418%;
    margin-right: -100%; } }

/**
 * @file
 * Footer layout styles
 */
.footer {
  padding: 24px 0;
  background-color: #eee; }

@media (min-width: 64.375em) {
  .site {
    min-height: 100%;
    margin-bottom: -300px; }
    .site:after {
      content: "";
      display: block; }
  .footer, .site:after {
    height: 300px; } }

/**
 * @file
 * Replacement for core's "container-inline" CSS
 */
.container-inline .form-item,
.container-inline .form-actions {
  display: inline-block;
  vertical-align: middle; }

/**
 * @file
 * Breadcrumb styles
 */
.breadcrumb a {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem; }

/**
 * @file
 * Basic page node styles
 */
@media (min-width: 64.375em) {
  .has-no-sidebars .node--type-page .field--name-body {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%; } }

/*# sourceMappingURL=styles.css.map */
