/**
 * @file
 * Global layout styles
 */
.site-main {
  margin-bottom: su();
}

.layout-container {
  @include clearfix;
  width: 90%;
  max-width: $site-width;
  margin-right: auto;
  margin-left: auto;
}

/**
 * Layout abstraction
 * A simple grid system built from Susy using repeatable classes.
 * Builds out gallery classes for however many columns are needed.
 * The classes are human readable "layout-gallery-NUM-OF-COLS--BP".
 */
.layout-row {
  @include clearfix;
}

.layout-col {
  @include span(12);
}

$layout-galleries: (2 3 4);
$layout-bps: (lap desk);

@each $bp in $layout-bps {
  @each $gallery in $layout-galleries {
    $cols: 12/$gallery;
    .layout-gallery-#{$gallery}--#{$bp} {
      > .layout-col {
        @include mq($bp) {
          @include gallery($cols);
        }
      }
    }
  }
}
