/**
 * @file
 * Header layout styles
 */
.site-top-bar {
  padding: 10px 0;
  line-height: 1;

  li, a {}
  
  .menu {
    margin: 0;
  }
} // .site-top-bar

.site-header {
  margin-bottom: su();
  padding: su(.5) 0;
  background: #424242;

  &, a {
    color: #f1f1f1;
  }

  .menu {
    margin: 0;
  }
  
  /**
   * Center logo and menu using flexbox. This horizontally centers
   * the elements in this container. The fallback is the menu hangs at the top, 
   * can add padding to adjust this for unsupported browsers.
   */
  > .layout-container {
    @include mq(desk) {
      display: flex;
      align-items: center;
    }
    
    /* If unsupported browsers need specific styles */
    .no-flexbox & {}
  }
} // .site-header

.site-logo,
.site-name {
  display: inline-block;
}

.site-logo {
  display: block;
  width: 75px;
  line-height: 1;

  @include mq(desk) {
    width: 150px;
  }
} // .site-logo

/* Secondary menu */
.region-secondary-menu {

  @include mq(lap)  {
    @include clearfix;
    /* Uses flexbox to align children horizontally */
    display: flex;
    align-items: center;
    text-align: right;
  }
  
  /* In case unsupported browsers need fixes */
  .no-flexbox & {}
  
  a {
    @include font-size(12px);
    @include caps; 
  }

  .menu-item {
    display: inline-block;
    margin-right: su(.5);

    &:last-child {
      margin-right: 0;
    }
  }

  .block {
    @include mq(lap) {
      float: right;
    }
  }

  .block-search {
    order: 0;
    margin-left: auto;
  }

  .block-menu {
    order: 1;
    margin-bottom: su(.5);

    @include mq(lap) {
      margin-left: su();
      margin-bottom: 0;
    }
  }
} // .region-secondary-menu

/* Header */
.region-header {
  @include clearfix;

  @include mq(desk) {
    @include span(3);
  }

  .menu-open & {
    @include mq($until: desk) {
      margin-bottom: su(.5);
    }
  }
} // .region-header

.block-system-branding-block {
  @include mq($until: desk) {
    float: left;
  }
}

.menu-toggle {
  padding: 5px;
  float: right;
  border-radius: 3px;
  color: #222;

  @include mq(desk) {
    display: none;
  }

  svg {
    width: 24px;
    height: 24px;
    vertical-align: top;
  }
} // .menu-toggle

/* Primary menu */
.region-primary-menu {
  display: none;
  

  @include mq($until: desk) {
    clear: both;
  }

  @include mq(desk) {
    @include span(9 last);
    display: block;
    text-align: right;
  }

  .menu-open & {
    display: block;
  }

  a {
    @include caps;

    &:hover {
      text-decoration: none;
    }

    &.is-active {
      border-bottom: 2px solid #fff;
    }
  }

  .menu-item {
    margin-right: su();

    &:last-child {
      margin-right: 0;
    }

    @include mq(desk) {
      display: inline-block;
    }
  } // .menu-item
} // .region-primary-menu
